#filters-header-container {
  margin: 0 auto;
}

#filter-tabs {
  flex-flow: row wrap;
}

.filter-tab {
  border: none;
  width: 100%;
}

.filter-tab:not(.is-open) {
  display: none;
}

.filter-tab.is-open {
  display: flex;
}

.filter-tab.is-open::after {
  padding-left: 5px;
  content: "▾";
}

